@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Lato&display=swap');


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


html {
	scroll-behavior: smooth; /* get some smooth scroll when i click the nav bar */
	width: auto;
	height: auto;
	margin: auto;
	padding: 10px;
	vertical-align: middle;
}

body {
	/*width: 100vh;
	height: 100vh;
	margin: auto;
	padding: 10px;
	vertical-align: middle;*/

	background-color: none;
	background-image: url("../res/img/background.png");
	background-size: fill;
	background-repeat: no-repeat;
    background-position: center center;

    scroll-behavior: smooth;
    font-family: 'Karla', sans-serif;
}

h1 {
	color: ghostwhite;
	text-align: center;
	width: auto;

	text-underline-offset: 3px;
    text-decoration: 2px underline rgb(0, 118, 255);
}

.box {
	margin-top: 10%;
	padding: 5px;
	background: rgba( 144, 19, 254, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 6px );
	-webkit-backdrop-filter: blur( 6px );
	border-radius: 20px;

	margin-left: auto;
	margin-right: auto;
	align-self: center, center;

	width: 30%;
	height: 50%;
	text-align: center;
}

input {
	margin: 4%;
	padding: 15px;

    border-radius: 15px;
    border: 2px solid rgb(0, 118, 255);
    background-color: rgba(35, 39, 42, 0.74);

    color: silver;

    transition: 5ms;
    font-size: large;
    text-align: center;
}

input[type=submit]:hover {
    text-underline-offset: 1px;
    text-decoration: 2px underline rgb(0, 118, 255);

    cursor: pointer;
}